body{
    margin: 0;
    text-align: center;
    margin-top: 50px;
    display:flex;
    height:100vh;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
}
#fName{
    margin-top: 10px;
}
#addl-section{
    margin-top: 10px;
}
div{
    margin:10px;
}
img{
    width:100px;
    height: 100px;
    border:1px solid #fff;
    border-radius: 50%;
}
button{
    background-color: orchid;
}
#fName{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 700;
}
#addlInfo{
    font-size: 25px;
    font-weight: 600;
}
#image_section{
    margin-top:0 auto;
    width:500px;
    height:150px;
    background-color: #eee; 
}
#getUser{
    position: relative;
    top:160px;
    left:180px
}